extends layout
mixin question(content)
  div.townsquare-dark__contentArea--question
    h1= content

block content
  div.townsquare-dark__contentArea--header
    h1 Top Questions
    form(action='/new/question' method='get')
      button(type='submit' id='askQuestion' class='headerButton') Ask Question
    div.townsquare-dark__contentArea--headerGridGroup
      button#headerButton1.headerButton Interesting
      button#headerButton2.headerButton Hot
      button#headerButton3.headerButton Week
      button#headerButton4.headerButton Month
  div.townsquare-dark__contentArea--questions
    each question in user.Questions
      +question(question.content)
