extends layout
mixin question(content, id)
  div.townsquare-dark__contentArea--question
    a(href=`/questionView/question/${id}`)= content

block content
  div.townsquare-dark__contentArea--header
    h1 Top Questions
    form(action='/new/question' method='get')
      button(type='submit' id='askQuestion' class='headerButton') Ask Question
    div.townsquare-dark__contentArea--headerGridGroup
      button#headerButton1.headerButton Interesting
      button#headerButton2.headerButton Hot
      button#headerButton3.headerButton Week
      button#headerButton4.headerButton Month
  div.townsquare-dark__contentArea--questions
    if allQuestions
        each question in allQuestions
            +question(question.content, question.id)
    else
        div.townsquare-dark__contentArea--question
            p No questions found
