extends layout
mixin question
  div.townsquare-dark__contentArea--question
    h1 __NEW QUESTION__WIP
block content
  div.townsquare-dark__contentArea--header
    h1 Top Questions
    button(type="Button" class="townsquare-dark__contentArea--headerButton") Ask Questions
    div.townsquare-dark__contentArea--headerGridGroup
      button#headerButton1 Interesting
      button#headerButton2 <span>123</123> Bountied
      button#headerButton3 Hot
      button#headerButton4 Week
      button#headerButton5 Month
  div.townsquare-dark__contentArea--questions
    +question
    +question
    +question
    +question
    +question
