extends layout
mixin question(content)
  div.townsquare-dark__contentArea--question
    h1= content

block content
  div.townsquare-dark__contentArea--header
    h1 Top Questions
    button(type="Button" class="townsquare-dark__contentArea--headerButton") Ask Questions
    div.townsquare-dark__contentArea--headerGridGroup
      button#headerButton1 Interesting
      button#headerButton2 <span>123</span> Bountied
      button#headerButton3 Hot
      button#headerButton4 Week
      button#headerButton5 Month
  div.townsquare-dark__contentArea--questions
    each question in user.Questions
        +question(question.content)
