doctype html
html
  head
    block head
      title="TownSquare"
      link(rel="stylesheet", type="text/css", href="/style.css")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
      //- link(rel="icon", href="/favicon.ico", type="image/ico", sizes="16x16")
  body.townsquare-dark
    div.townsquare-dark__nav
      nav.townsquare-dark__navbar
        div.townsquare-dark__navbar--highlight
        img.townsquare-dark__navbar--image(src="/townsquare_logo_sm.png")
        a.townsquare-dark__navbar--modalLeft Products
        div.townsquare-dark__navbar--searchWrapper
          img(src="/magnifyingGlass.png" width="100px" id='townsquare__searchForm--searchbarIcon')
          form(id='townsquare__searchForm' action='/search' method='post')
              input(type="search" name='searchQuery' id='townsquare__searchForm--searchbar' class="townsquare-dark__navbar--searchbar" placeholder="Search")
              button(type='submit' id='townsquare__searchForm--searchButton' class='townsquare-dark__navbar--searchSubmit' hidden)
        a.townsquare-dark__navbar--icon I1
        a.townsquare-dark__navbar--icon2 I2
        a.townsquare-dark__navbar--icon3 I3
        a.townsquare-dark__navbar--icon4 I4
        a.townsquare-dark__navbar--icon5 I5

    div.townsquare-dark__main
      div.townsquare-dark__leftSidebar
        a(href='/') Home
        a(href='/account') Login
        a(href='/account/signup') Sign Up
        a About
        if user
          a LOGGED IN
          a= user.username
          a(href="/account/signout") LOGOUT
      div.townsquare-dark__contentArea
        block content
      div.townsquare-dark__rightSidebar
        div.townsquare-dark__rightSidebar--overflowbox
          div.townsquare-dark__rightSidebar--overflowItem
            div.townsquare-dark__rightSidebar--overflowItemHeader
              h2 The Overflow Blog
            div.townsquare-dark__rightSidebar--overflowItemContent
              p <icon>i</icon>
              p <icon>i</icon>
          div.townsquare-dark__rightSidebar--overflowItem
            div.townsquare-dark__rightSidebar--overflowItemHeader
              h2 Featured on Meta
            div.townsquare-dark__rightSidebar--overflowItemContent
              p <icon>i</icon> An item
    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
    <!-- Script element sourcing the TinyMCE configuration -->
    <script type="application/javascript" src= "/tinymce-config.js"></script>
    <script type="module" src= "/javascripts/index.js"></script>
