doctype html
html
  head
    block head
      title="TownSquare"
      link(rel="stylesheet", type="text/css", href="/style.css")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
      link(rel="icon", href="/favicon.ico", type="image/ico", sizes="16x16")
  body.townsquare-dark
    div.townsquare-dark__nav
      nav.townsquare-dark__navbar
        div.townsquare-dark__navbar--highlight
        a(href='/' class='townsquare-dark__navbar--image')
          img.townsquare-dark__navbar--image(src="/townsquare_logo_sm.png")
        a.townsquare-dark__navbar--modalLeft Products
        div.townsquare-dark__navbar--searchWrapper
          img(src="/magnifyingGlass.png" width="100px" id='townsquare__searchForm--searchbarIcon')
          form(id='townsquare__searchForm' action='/search' method='post')
              input(type="search" name='searchQuery' id='townsquare__searchForm--searchbar' class="townsquare-dark__navbar--searchbar" placeholder="Search")
              button(type='submit' id='townsquare__searchForm--searchButton' class='townsquare-dark__navbar--searchSubmit' hidden)
        a(class='townsquare-dark__navbar--icon' href='/')
          img(class='townsquare-dark__navbar--icon' src='/trophy_grey.png')
        a(class='townsquare-dark__navbar--icon2' href='/')
          img(class='townsquare-dark__navbar--icon2' src='/instagram-like_grey.png')
        a(class='townsquare-dark__navbar--icon3' href='/')
          img(class='townsquare-dark__navbar--icon3' src='/takeaway-fast-food_grey.png')
        a(class='townsquare-dark__navbar--icon4' href='/')
          img(class='townsquare-dark__navbar--icon4' src='/map-pin_grey.png')
        a(class='townsquare-dark__navbar--icon5' href='/')
          img(class='townsquare-dark__navbar--icon5' src='/unlocked_grey.png')
    div.townsquare-dark__main
      div.townsquare-dark__leftSidebar
        a(href='/') Home
        a(href='/account') Login
        a(href='/account/signup') Sign Up
        a About
        if user
          a LOGGED IN
          a= user.username
          a(href="/account/signout") LOGOUT
      div.townsquare-dark__contentArea
        block content
      div.townsquare-dark__rightSidebar
        div.townsquare-dark__rightSidebar--overflowbox
          div.townsquare-dark__rightSidebar--overflowItem
            div.townsquare-dark__rightSidebar--overflowItemHeader
              h2 The Overflow Blog
            div.townsquare-dark__rightSidebar--overflowItemContent
              p New York City needs pizza the same way a
              p plant needs sunlight or a subway needs a
              p conductor. In other words, it’s important,
              p here’s where to eat in NYC:
              p(style='font-weight:bold') Tony And Tina's Pizzeria
              p(style='font-weight:bold') Totonno Pizzeria Napolitana
              p(style='font-weight:bold') Joe's Pizza
              p(style='font-weight:bold') Paulie Gee’s Slice Shop
          div.townsquare-dark__rightSidebar--overflowItem
            div.townsquare-dark__rightSidebar--overflowItemHeader
              h2 Featured on Meta
            div.townsquare-dark__rightSidebar--overflowItemContent
              p You can ask whatever your heart pleases on townsquare
              p Have a burning question that needs an answer?
              p(style='font-weight:bold') Ask away!
              p Have an answer to a burning question?
              p(style='font-weight:bold') Answer away!
              p We are a judge free community committed to your user experience!
    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
    <!-- Script element sourcing the TinyMCE configuration -->
    <script type="application/javascript" src= "/tinymce-config.js"></script>
    <script type="module" src= "/javascripts/index.js"></script>
    footer
      div.townsquare-dark__footer
        div.townsquare-dark__footer--contentArea
            div.townsquare-dark__footer--contentAreaOne
              img(src= "/favicon.ico")
            div.townsquare-dark__footer--contentAreaTwo
              h1 TOWNSQUARE
              p Questions
              p Jobs
              P Developer Jobs Directory
              P Salary Calculator
              P Help
              P Mobile
              P Disable Responsiveness
            div.townsquare-dark__footer--contentAreaThree
              h1 PRODUCTS
              p Teams
              p Talent
              P Advertising
              P Enterprise
            div.townsquare-dark__footer--contentAreaFour
              h1 COMPANY
              p About
              p Press
              P Work Here
              P Legal
              p Privacy Policy
              p Terms of Service
              p Contact Us
              p Cookie Settings
              p Cookie Policy
            div.townsquare-dark__footer--contentAreaFive
              h1 STACK EXCHANGE NETWORK
              p Technology
              p Life / Arts
              P Culture / Recreation
              P Science
              p Other
            div.townsquare-dark__footer--contentAreaSix
              h1 blog  |  Facebook |  Twitter  |  LinkedIn  |  Instagram
              p
              p
              p
              p
              p
              p
              p
              p
              p
              p
              p
              p
              p
              p
              p
              p
              p
              p
              p
              p
              p
              p
              p
              p site design / logo © 2021 manaslu group Inc; user contributions J.Devine O.Williams Shahene


