extends layout
block content
    div.townsquare-dark__contentArea--headerQuestionTitle
        p.townsquare-dark__contentArea--headerQuestionTitle= question.content
        h4= `Asked ${question.createdAt}`
    div.townsquare-dark__contentArea--commentView
        if comments
            each comment in comments
                div.townsquare-dark__contentArea--NewQuestion
                    div.townsquare-dark__contentArea--NewQuestionWidgets
                        div.townsquare-dark__contentArea--QuestionAreaUpvoteWrapper
                            form(action='/questionView/upvote' method='post')
                                input(type='hidden' name='vote' value= comment.id)
                                input(type='hidden' name='questionId' value= question.id)
                                button(type='submit' class='townsquare-dark__questionView--upvote' id="UpVoteButton")
                        div.townsquare-dark__contentArea--QuestionAreavoteCountWrapper
                            p= comment.voteCount
                        div.townsquare-dark__contentArea--QuestionAreaUpvoteWrapper
                            form(action='/questionView/downVote' method='post')
                                input(type='hidden' name='vote' value= comment.id)
                                input(type='hidden' name='questionId' value= question.id)
                                button(type='submit' class='townsquare-dark__questionView--downvote' id="DownVoteButton")
                    div.townsquare-dark__contentArea--QuestionAreavoteCommentWrapper
                        h3= comment.content
    div.townsquare-dark__contentArea--QuestionAreaFooter
        form(action='/questionView/answer' method='post')
            h3 Know someone who can answer? Share a link to this question via email, Twitter, or Facebook.
            h2 Your Answer
            //input(type='text' id='contentTitle' name='contentTitle' placeholder="e.g. Where is the best pizza in NY?" required)
            input(type='hidden' name='questionId' value= question.id)
            //h2 Body
            textarea(id='tinyEditTextArea' name='content')
            button(type='submit') Post your answer
            h3 Browse other questions tagged google-apps-marketplace or ask your own question.

