/*=========================*\
|*GLOBAL                   *|
/*=========================*/
* {
    font-family: 'Roboto' 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-kerning: auto;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-weight: normal;
}




/*=========================*\
|*townsquare-dark          *|
/*=========================*/
body.townsquare-dark {
    display: inline-block;
    overflow: scroll;
    margin:0;
    font-weight:400;
    display: grid;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    text-align:left;
    top: 0;
    height: 100%;
    min-height: 1000px;
    width: 100%;
    background-color: #2d2d2d;
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
    color: #c4c8cc;
}


/*Nav Bar*/
.townsquare-dark__nav {
    overflow: hidden;
    background-color: #393939;
    position: fixed;
    top: 0;
    width: 100%;
}
.townsquare-dark__navbar {
    overflow: hidden;
    background-color: #393939;
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 12.5% 12.5% 60% 3% 3% 3% 3% 3%;
    grid-template-rows: 3px 47px;
    box-shadow: 0px 5px 10px black;
    gap: 0px 0px;
    grid-template-areas:
    "hglt hglt hglt hglt hglt hglt hglt hglt"
    "nav1 nav2 nav3 nav4 nav5 nav6 nav7 nav8";
}
.townsquare-dark__navbar--highlight{
    grid-area: hglt;
    background-color: #f48024;
}
.townsquare-dark__navbar--image {
    display: flex;
    grid-area: nav1;
    margin: auto;
    height: 35px;
    width: 182px;
}
@media screen and (min-width: 0px) and (max-width: 1300px) {
    .townsquare-dark__navbar--image {
        content: url(/favicon.png);
        /*background: url(/favicon.png) no-repeat;*/
        height: 35px;
        width: 35px;
        display: flex;
        grid-area: nav1;
        margin: auto;
    }
}


.townsquare-dark__navbar--modalLeft {
    grid-area: nav2;
    margin: auto;
}
.townsquare-dark__navbar--searchWrapper{

    align-self: center;

    grid-area: nav3;

    width: 100%;
    display: flex;
}
#townsquare__searchForm {
    width: 490px;
    margin: 0 auto;

    font-size:16px;
    width: 100%;
    position: relative;

    flex-direction: row;
    justify-content: center;
    padding-bottom: 0px;
    margin-left:0px;
}
#townsquare__searchForm--searchbar{
    background-color: #2d2d2d;
    margin: 0 auto;
    width: 100%;
    height: 30px;
    padding: 0 40px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;

}
#townsquare__searchForm--searchbar:focus{
    border: 1px solid #f48024;
    transition: 0.35s ease;
    color: lightgrey;
}
#townsquare__searchForm--searchbarIcon{
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
    right: -30px;
    z-index: 1;
}
.townsquare-dark__navbar--icon {
    grid-area: nav4;
    margin: auto;
    width:20px;
    height:25px;
}

.townsquare-dark__navbar--icon2 {
    grid-area: nav5;
    margin: auto;
    width:25px;
    height:25px;
}
.townsquare-dark__navbar--icon3 {
    grid-area: nav6;
    margin: auto;
    width:20px;
    height:25px;
}
.townsquare-dark__navbar--icon4 {
    grid-area: nav7;
    margin: auto;
    width:20px;
    height:25px;
}
.townsquare-dark__navbar--icon5 {
    grid-area: nav8;
    margin: auto;
    width:20px;
    height:25px;
}


/*Main Content*/
.townsquare-dark__main {
    display: grid;
    margin: auto;
    height: 100%;
    width: 80%;
    grid-template-columns: 10% 65% 25%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-template-areas:
    "left content right";
}
@media screen and (min-width: 0px) and (max-width: 1100px) {
    .townsquare-dark__main {
        height: 100%;
        width: 100%;
        grid-template-columns: 20% 80%;
        grid-template-rows: 100%;
        gap: 0px 0px;
        grid-template-areas:
        "left content";
    }
}


/*Left sidebar*/
.townsquare-dark__leftSidebar{
    /*TEMP Remove styles to attach to body?*/
    /*Can used fixed relative to body?*/
    /*grid-area: left;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*position: relative;*/
    /*align-self: flex-start;*/
    /*height: 100%;*/
    /*left: 0px;*/
    /*top: 50px;*/
    /*width: 170px;*/
    /*padding-top: 20px;*/
    position: fixed;

      /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

}
@media screen and (max-height: 700px) {
    .townsquare-dark__leftSidebar {padding-top: 15px;}
    .townsquare-dark__leftSidebar a {font-size: 18px;}
}
.townsquare-dark__leftSidebar a:hover {
    color: #f1f1f1;
  }
.townsquare-dark__leftSidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/*Center Area*/
#townsquare-dark__contentArea--headerButton {
    height: 40px;
}
.townsquare-dark__contentArea {
    grid-area: content;
    border-left: 1px solid grey;
}


/*Center Area Header*/
.townsquare-dark__contentArea--header {
    margin: auto;
    display: grid;
    height: 120px;
    width: 100%;
    padding-bottom: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    gap: 0px 0px;
    grid-template-areas:
    "top-left top-right"
    "bot bot";
}
.townsquare-dark__contentArea--header h1 {
    grid-area: top-left;
    justify-self: flex-start;
    margin-left: 20px;
}
.townsquare-dark__contentArea--header form {
    grid-area: top-right;
    justify-self: flex-end;
    align-self: center;
    height: 40px;
}
.townsquare-dark__contentArea--header button {
    grid-area: top-right;
    justify-self: flex-end;
    align-self: center;
    height: 40px;
}
.townsquare-dark__contentArea--headerGridGroup{
    grid-area: bot;
    justify-self: flex-end;
    align-self: flex-end;
}
.townsquare-dark__contentArea--headerGridGroup button{
    height: 40px;
    margin-left: 10px;
}


/*Center Area Questions and Answwers*/
.townsquare-dark__contentArea--questions {
    display: block;

}
.townsquare-dark__contentArea--question {
    display: grid;
    margin: auto;
    align-self: center;
    justify-self: center;
    text-align: center;
    border-top: 1px solid grey;
    height: 80px;
    grid-template-columns: 7% 7% 7% 79%;
    grid-template-rows: 33% 33% 34%;
    gap: 0px 0px;
    grid-template-areas:
    "widget1 widget2 widget3 questionContent"
    "widget1txt widget2txt widget3txt questionContent"
    "empty   empty   empty   tagContent";
}
.townsquare-dark__contentArea--question a{
    grid-area: questionContent;
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
    margin-left: 6px;
    color: #3ca4ff;
}
.townsquare-dark__contentArea--question a:hover {
    color:#07c
}
.townsquare-dark__contentArea--question p{
    grid-area: tagContent;
    font-size: 14px;
    text-align: left;
    color: #818181;
    margin-left: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#questionVotestxt{
    grid-area: widget1txt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    font-size: 11px;
}
#questionViewstxt{
    grid-area: widget2txt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 11px;
}
#questionAnswerstxt{
    grid-area: widget3txt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 11px;
}
#questionVotes{
    grid-area: widget1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 18px;
}
#questionViews{
    grid-area: widget2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 18px;
}
#questionAnswers{
    grid-area: widget3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 18px;
}


.townsquare-dark__contentArea--question h1{
    color: #00B7FF;
}






.townsquare-dark__contentArea--questions form {
    justify-self: flex-end;
    grid-area: top-right;
    justify-self: flex-end;
    align-self: center;
    margin: 10px;
}
textarea#tinyEditTextArea {
    padding: 10px;
    margin: auto;
}
.townsquare-dark__questionArea--header {
    margin: auto;
    display: grid;
    height: 60px;
    width: 100%;
    padding-bottom: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    gap: 0px 0px;
    grid-template-areas:
    "top-left top-right"
    "bot bot";
}
.townsquare-dark__questionArea--header h1 {
    grid-area: top-left;
    justify-self: flex-start;
    margin-left: 20px;
}
.townsquare-dark__questionArea--question {
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #4a4e51;
    box-shadow: 5px 5px 15px 5px #000000;
    border: 1px solid grey;
}
.townsquare-dark__questionArea--question form h2 {
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 22px;
}
.townsquare-dark__questionArea--question form h3 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 12px;
}
.townsquare-dark__questionArea--question form input {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 18px;
    width: 90%;
    background-color: #4a4e51;
}
.townsquare-dark__questionArea--question form button {
    margin-top: 25px;
    margin-left: 0px;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    align-self: flex-start;
}
.townsquare-dark__questionArea--question form textarea {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 18px;
    width: 90%;
    background-color: #4a4e51;
}
.townsquare-dark__contentArea--headerQuestionTitle {
    margin: auto;
    display: grid;
    height: 140px;
    width: 100%;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    gap: 0px 0px;
    border-bottom: 1px solid rgb(74, 78, 81);
    grid-template-areas:
    "top"
    "bot";
}
.townsquare-dark__contentArea--headerQuestionTitle p{
    grid-area: top;
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
    color: #c4c8cc;
}
.townsquare-dark__contentArea--headerQuestionTitle h4{
    grid-area: bot;
    font-size: 20px;
    margin-left: 10px;
    padding-bottom: 10px;
    color: #77787c;
}
.townsquare-dark__contentArea--commentView{

}
.townsquare-dark__contentArea--NewQuestion{
    display: grid;

    grid-template-columns: 10% 90%;
    gap: 0px 0px;
    border-bottom: 1px solid rgb(74, 78, 81);
    grid-template-areas:
    "left right"
}
.townsquare-dark__contentArea--NewQuestionWidgets{
    grid-area: left;

}
.townsquare-dark__contentArea--NewQuestionWidgets form{
    width: 50px;
    height: 50px;
    padding-bottom: 0px;
    margin: auto;
}
.townsquare-dark__contentArea--NewQuestionWidgets form button{
    margin: 10px;
    width: 50px;
    height: 50px;
}
#DownVoteButton{
    background-image: url('/Down_Chevron.png');
    appearance:none;
    -webkit-appearance:none;
    background-color:transparent;
    border:none;
    outline:none;
    background-size:40px 34px;
    padding:22px 38px;
    background-repeat:no-repeat;
    cursor:pointer;
}
#UpVoteButton{
    background-image: url('/Up_Chevron.png');
    appearance:none;
    -webkit-appearance:none;
    background-color:transparent;
    border:none;
    outline:none;
    background-size:40px 34px;
    padding:22px 38px;
    background-repeat:no-repeat;
    cursor:pointer;
}
.townsquare-dark__contentArea--QuestionAreavoteCommentWrapper{
    grid-area: right;
}
.townsquare-dark__contentArea--QuestionAreavoteCommentWrapper h3{
    grid-area: right;
    margin-left: 10px;
}
.townsquare-dark__contentArea--QuestionAreavoteCountWrapper p {
    margin: 0px;
    text-align: center;
    margin-left: 18px;
}
.townsquare-dark__contentArea--QuestionAreaFooter{
    margin: auto;
}
.townsquare-dark__contentArea--QuestionAreaFooter form{
    display: block;
    flex-direction: inherit;
    justify-content: inherit;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}
.townsquare-dark__contentArea--QuestionAreaFooter form h3{
    font-size: 16px;
    color: #c4c8cc;
}

.townsquare-dark__contentArea--QuestionAreaFooter form button{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.15384615;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    color: #fff;
    background-color:#00B7FF;;
    box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);


}

/*Right sidebar / Overflow blog*/
.townsquare-dark__rightSidebar {
    /*Same as left sidebar -TEMP - Attach to mcontent area?*/
    grid-area: right;
    margin-left: auto;
    margin-right: auto;
    /*display: block;*/
    /*position: fixed;*/
    /*right:30px;*/
}
@media screen and (min-width: 0px) and (max-width: 1100px) {
    .townsquare-dark__rightSidebar { display: none; }
}
.townsquare-dark__rightSidebar--overflowbox {
    display: block;
    font-size:14px;
    background-color:#38352B;

}
.townsquare-dark__rightSidebar--overflowItem {
    border: 1px solid rgb(245, 113, 18);
    display: block;
    font-weight: bold;
    font-size:9px;
    color:white;
}
.townsquare-dark__rightSidebar--overflowItemHeader {
    height: 100%;
    margin: 10px;
    text-decoration:wavy;
    text-align: center;
    font-size:9px;

}
.townsquare-dark__rightSidebar--overflowItem p {
    padding-left: 20px;
    font-size:9px;

}


/*Button styles / Misc / Uncategorized*/
#askQuestion {
        position: relative;
        display: inline-block;
        padding: .8em;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: transparent;
        outline: none;
        font-family: inherit;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.15384615;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        color: #fff;
        background-color:#00B7FF;;
        box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);
}
.headerButton {
    position: relative;
    display: inline-block;
    padding: .8em;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.15384615;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    color: #fff;
    background-color:#465257;;
    box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);

}
/* form {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:40px;
    margin-left:80px;
}
input {
    width:55%;
    height:30px;
} */



.formButton {
    font-size: 18px;
    font-weight: bold;
    background-color: #f48024;
    color: white;
    padding: 14px 16px;
    margin: 8px 10px ;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    border-radius: 5px;
    position:relative;
    right:-20px;
    bottom:50px;
 }

 .formButton:hover {
    background-color: white;
    color:black;

 }

 #registerButton {
     bottom:5px;
 }
 #demoUser {
    /* position: absolute; */
    position:relative;
    left:30%;
    font-size: 18px;
    font-weight: bold;
    background-color: #f48024;
    color: white;
    padding: 14px 16px;
    margin-top: 80px;
    margin-bottom:80px;
    margin-left:-5px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 5px;

}



#demoUser:hover {
background-color: white;
color:black;

}
/*
So, only the button for signup is being styled
while the button for login is not
*/

 #signUpForm {
     height:520px;
     top:40%;
 }

 .registerForm {
    margin: auto;
    /* position: absolute; */
    /* top: 30%; */
    /* left: 50%; */
    width: 450px;
    height: 400px;
    /* padding: 40px; */
    /* transform: translate(-50%, -50%); */
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
  }

 #loginHeader {
    margin: 0 0 30px;
    margin-bottom:30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  input {
    margin:25px;
}

  .registerForm .userbox input {
    width: 94%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .registerForm .userbox label {
    position: relative;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }


  /*
  when the screen is less than 600px wide,
  make the two columns stack on top of each other
  instead of next to each other */
  @media screen and (max-width: 600px) {
    .registerForm, .formButton, #demoUser {
      width: 90%;
      margin-left:20px;
      margin-right: 40px;
    }
    #demoUser {
        /* right:40%;
        /* top:39%; */
        left:3px;
    }
    .formButton {
        right:-2px;
    }

  }

  .errorMessages {
      color:red;
      font-weight:bold;
      margin:10px;
  }

  @media screen and (max-width: 800px) {
  .townsquare-dark__navbar--icon, .townsquare-dark__navbar--icon2,
  .townsquare-dark__navbar--icon3, .townsquare-dark__navbar--icon4,
  .townsquare-dark__navbar--icon5 {
      visibility: hidden;
  }
  }
 /*
 So, only the button for signup is being styled
 while the button for login is not


 .registerForm {

}
 */

footer {
    background-color: #242729;
    width: 100%;
    align-items: center;
    align-content: center;
}

.townsquare-dark__footer--contentArea{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    display: flex;
    width: 80%;
    height: 300px;
}

.townsquare-dark__footer--contentAreaOne{
    flex: 1 1 5%
}
.townsquare-dark__footer--contentAreaTwo{
    flex: 1 1 20%
}
.townsquare-dark__footer--contentAreaThree{
    flex: 1 1 12.5%
}
.townsquare-dark__footer--contentAreaFour{
    flex: 1 1 17.5%
}
.townsquare-dark__footer--contentAreaFive{
    flex: 1 1 15%
}
.townsquare-dark__footer--contentAreaSix{
    flex: 1 1 30%;
}

.townsquare-dark__footer--contentAreaTwo h1{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #c4c8cc;
}
.townsquare-dark__footer--contentAreaTwo p{
    font-size: 13px;
    margin: auto;
    padding: 4px;
    color: #818181;
}
.townsquare-dark__footer--contentAreaTwo p:hover{
    color: #77787c;
    cursor: pointer;
}
.townsquare-dark__footer--contentAreaThree h1{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #c4c8cc;
}
.townsquare-dark__footer--contentAreaThree p{
    font-size: 13px;
    margin: auto;
    padding: 4px;
    color: #818181;
}
.townsquare-dark__footer--contentAreaThree p:hover{
    color: #77787c;
    cursor: pointer;
}
.townsquare-dark__footer--contentAreaFour h1{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #c4c8cc;
}
.townsquare-dark__footer--contentAreaFour p{
    font-size: 13px;
    margin: auto;
    padding: 4px;
    color: #818181;
}
.townsquare-dark__footer--contentAreaFour p:hover{
    color: #77787c;
    cursor: pointer;
}
.townsquare-dark__footer--contentAreaFive h1{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #c4c8cc;
}
.townsquare-dark__footer--contentAreaFive p{
    font-size: 13px;
    margin: auto;
    padding: 4px;
    color: #818181;
}
.townsquare-dark__footer--contentAreaFive p:hover{
    color: #77787c;
    cursor: pointer;
}
.townsquare-dark__footer--contentAreaSix h1{

    font-size: 11px;
    margin-top: 15px;
    padding: 4px;
    color: #818181;

}

.townsquare-dark__footer--contentAreaSix p{
    text-align: left;
    font-size: 11px;
    margin: auto;
    padding: 4px;
    color: #818181;
}
