* {
    font-family: 'Roboto' 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-kerning: auto;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-weight: normal;
}



body.townsquare-dark {
    margin:0;
    font-weight:400;
    display: grid;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    text-align:left;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #2d2d2d;
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
    color: #c4c8cc;
}
.townsquare-dark__nav {
    overflow: hidden;
    background-color: #393939;
    position: fixed;
    top: 0;
    width: 100%;
}
.townsquare-dark__navbar {
    overflow: hidden;
    background-color: #393939;
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 12.5% 12.5% 60% 3% 3% 3% 3% 3%;
    grid-template-rows: 3px 47px;
    box-shadow: 0px 5px 10px black;
    gap: 0px 0px;
    grid-template-areas:
    "hglt hglt hglt hglt hglt hglt hglt hglt"
    "nav1 nav2 nav3 nav4 nav5 nav6 nav7 nav8";
}
.townsquare-dark__navbar--highlight{
    grid-area: hglt;
    background-color: #f48024;
}
.townsquare-dark__navbar--image {
    grid-area: nav1;
    margin: auto;
}
.townsquare-dark__navbar--modalLeft {
    grid-area: nav2;
    margin: auto;
}
.townsquare-dark__navbar--searchbar {
    grid-area: nav3;
    margin: 7px;
    font-size:16px;
    width: 400px;
    position:fixed;
    right:220px;
    height: 35px;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #ccc;
}
.townsquare-dark__navbar--icon {
    grid-area: nav4;
    margin: auto;
}
.townsquare-dark__navbar--icon2 {
    grid-area: nav5;
    margin: auto;
}
.townsquare-dark__navbar--icon3 {
    grid-area: nav6;
    margin: auto;
}
.townsquare-dark__navbar--icon4 {
    grid-area: nav7;
    margin: auto;
}
.townsquare-dark__navbar--icon5 {
    grid-area: nav8;
    margin: auto;
}
.townsquare-dark__main {
    display: grid;
    padding-left: 48px;
    padding-bottom:240px;
    margin: 0;
    height: 100%;
    width: 80%;
    grid-template-columns: 10% 65% 25%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-template-areas:
    "left content right";
}
.townsquare-dark__leftSidebar{
    top: 50px;
    left: 0;
    height: 100%;
    width: 170px;
    position: fixed;
    border-right: 1px solid #DEDEDE;
    overflow-x: hidden;
    padding-top: 20px;
      
      /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
        .townsquare-dark__leftSidebar {padding-top: 15px;}
        .townsquare-dark__leftSidebar a {font-size: 18px;}
      }
}

.townsquare-dark__leftSidebar a:hover {
    color: #f1f1f1;
  }

.townsquare-dark__leftSidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  


#townsquare-dark__contentArea--headerButton {
    height: 40px;
}

.townsquare-dark__contentArea {
    grid-area: content;
    border-left: 1px solid grey;
}
.townsquare-dark__contentArea--header {
    margin: auto;
    display: grid;
    height: 120px;
    width: 100%;
    padding-bottom: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    gap: 0px 0px;
    grid-template-areas:
    "top-left top-right"
    "bot bot";
}

.townsquare-dark__contentArea--header h1 {
    grid-area: top-left;
    justify-self: flex-start;
    margin-left: 20px;
}

.townsquare-dark__contentArea--header form {
    grid-area: top-right;
    justify-self: flex-end;
    align-self: center;
    height: 40px;
}

.townsquare-dark__contentArea--header button {
    grid-area: top-right;
    justify-self: flex-end;
    align-self: center;
    height: 40px;
}

.townsquare-dark__contentArea--headerGridGroup{
    grid-area: bot;
    justify-self: flex-end;
    align-self: flex-end;
}

.townsquare-dark__contentArea--headerGridGroup button{
    height: 40px;
    margin-left: 10px;
}

.townsquare-dark__contentArea--questions {
    display: block;
}

.townsquare-dark__contentArea--question {
    margin: auto;
    align-self: center;
    justify-self: center;
    text-align: center;
    border-top: 1px solid grey;
}
.townsquare-dark__contentArea--question h1{
    color: #00B7FF;
}

.townsquare-dark__contentArea--questions form {
    justify-self: flex-end;
    grid-area: top-right;
    justify-self: flex-end;
    align-self: center;
    margin: 10px;
}


textarea#tinyEditTextArea {
    padding: 10px;
    margin: auto;
}

.townsquare-dark__questionArea--header h1 {
    margin: auto;
    display: grid;
    height: 60px;
    width: 100%;
    padding-bottom: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    gap: 0px 0px;
    grid-template-areas:
    "top-left top-right"
    "bot bot";
}
.townsquare-dark__questionArea--header h1 {
    grid-area: top-left;
    justify-self: flex-start;
    margin-left: 20px;
}


.townsquare-dark__questionArea--question {
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #4a4e51;
    box-shadow: 5px 5px 15px 5px #000000;
    border: 1px solid grey;
}
.townsquare-dark__questionArea--question form h2 {
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 22px;
}
.townsquare-dark__questionArea--question form h3 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 12px;
}
.townsquare-dark__questionArea--question form input {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 18px;
    width: 90%;
    background-color: #4a4e51;
}
.townsquare-dark__questionArea--question form button {
    margin-top: 25px;
    margin-left: 0px;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    align-self: flex-start;
}
.townsquare-dark__questionArea--question form textarea {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 18px;
    width: 90%;
    background-color: #4a4e51;
}


.townsquare-dark__rightSidebar {
    grid-area: right;
    display: block;
    position: fixed;
    right:30px;
}
.townsquare-dark__rightSidebar--overflowbox {
    display: block;
    font-size:14px;

}
.townsquare-dark__rightSidebar--overflowItem {
    border: 4px solid rgb(245, 113, 18);
    display: block;
    font-weight: bold;
    font-size:14px;
}
.townsquare-dark__rightSidebar--overflowItemHeader {
    height: 100%;
    margin: 10px;
    text-decoration:wavy;
    text-align: center;
    font-size:14px;

}
.townsquare-dark__rightSidebar--overflowItem p {
    padding-left: 20px;
    font-size:14px;

}

#askQuestion {
        position: relative;
        display: inline-block;
        padding: .8em;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: transparent;
        outline: none;
        font-family: inherit;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.15384615;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        color: #fff;
        background-color:#00B7FF;;
        box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);
    
    
}
.headerButton {
    position: relative;
    display: inline-block;
    padding: .8em;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.15384615;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    color: #fff;
    background-color:#465257;;
    box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);

}
/* form {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:40px;
    margin-left:80px;
}
input {
    width:55%;
    height:30px;
} */


 
.formButton {
    font-size: 18px;
    font-weight: bold;
    background-color: #f48024;
    color: white;
    padding: 14px 16px;
    margin: 8px 10px ;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    border-radius: 5px;
 }

 .formButton:hover {
    background-color: white;
    color:black;

 }

 #signUpForm {
     height:520px;
     top:40%;
 }

 .registerForm {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 450px;
    height:400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 #loginHeader {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  

  
  .registerForm .userbox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .registerForm .userbox label {
    position: relative;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }


  #demoUser {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    background-color: #f48024;
    color: white;
    padding: 14px 16px;
    margin: 8px 10px ;
    border: none;
    cursor: pointer;
    width: 130px;
    opacity: 0.9;
    border-radius: 5px;
    right:40%;
    top:36.5%;
  }

  
 #demoUser:hover {
    background-color: white;
    color:black;

 }
 
  /*
  when the screen is less than 600px wide, 
  make the two columns stack on top of each other 
  instead of next to each other */
  @media screen and (max-width: 600px) {
    .registerForm, .formButton, #demoUser {
      width: 100%;
      margin-top: 0;
    }
    #demoUser {
        right:40%;
        top:39%;
    }
  }
  
 /*
 So, only the button for signup is being styled
 while the button for login is not 
 */
